body{
    margin: 0px;
    font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
    font-size: 16px;
}
.header{
    cursor: pointer;
    padding: 10px;
    background: dodgerblue;
    color: whitesmoke;
    font-size: 1.5em;
}
.control{
    box-sizing: border-box;
    width: 200px;
    background: whitesmoke;
    float: left;
}
.menu{
    position: relative;
}
.menu div{
    cursor: pointer;
    background: whitesmoke;
    position: relative;
    text-align: left;
    font-size: 1.05em;
    padding: 10px;
    margin: 5px 0px;
    transition: margin-left 1s ease-in, color 1s ease-in, background 1s ease-in, left 1s ease-in;
}
.menu>div:hover{
    margin-left: 10px;
    left: 10px;
    color: white;
    background: grey;
}
/*Thiết lập dạng bảng*/
.list_user, .add_user{
    margin-left: 10px;
    box-sizing: border-box;
    float: right;
    width: calc(100% - 200px - 10px);
}
.header_conten{
    border-radius: 5px 5px 0px 0px;
    padding: 10px 5px;
    background: deepskyblue ;
}
.bnt_add{
    cursor: pointer;
    border: none;
    margin: 10px 0px;
    padding: 5px 10px;
    outline: none;
}
.bnt_add:hover{
    box-shadow: 1px 1px 2px #000;
}
.content {
    box-sizing: border-box;
}
.content>table {
    width: 100%;
    border-collapse: collapse;
}
.content th {
    padding: 10px 0px;
    background: gainsboro;
}
.content th:hover{
    text-decoration: underline;
}
.content td {
    text-align: center;
    padding: 10px 0px;
    border-bottom: 1px solid darkgray;
}
.content tr:hover >td {
    text-decoration: underline;
}

/*css thêm các input mới*/
fieldset{
    margin: 20px 0px;
    display: inline-block;
}
.new_input{
    margin: 10px;
    overflow: auto;
}
.new_input>input, .new_input>textarea{
    width: 300px;
    border: 1px solid white;
    border-bottom-color: cadetblue;
    outline: none;
    margin: 0px 10px;
    float: right;
}
.new_input>select{
    outline: none;
    margin: 0px 5px;
    float: right;
    border: none;
    background: white;
}
.new_input>label{
    float: left;
}
fieldset>button{
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 5px 15px;
    float: right;
    background: olivedrab;
}
.erro-all{
    position: fixed;
    padding: 10px 20px;
    bottom: 20px;
    left: 20px;
    background: rgba(255, 0, 0, 0.7);;
    color: white;
    border-radius: 5px;
    transition: opacity 7s ease-in;
    opacity: 0;
    font-size: 1.2em;
}
.search{
    padding: 5px 0px;
    display: inline-block;
    margin: 10px 10px;
}
.search-boder{
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 1px 5px;
}
.search-boder:hover{
    border: 1px solid red;
}
.search-boder:hover .search-button{
    color: red;
}
.search-input, .search-button{
    font-size: 1em;
    outline: none;
    border: none;
    background: none;
}
.admin_info{
    float: right;
}